<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Eroare</title>
  </head>

  <body class="text-center">
    <br><br><br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Eroare!</h4>
                <img src="images/error.svg" width="120" height="120" alt="Eroare">
                <p>A apărut o eroare. Verifică URL şi încearcă din nou.</p>
                <hr>
                <p class="mb-0">Întoarcete la <a href="/">pagina principală.</a></p>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

  </body>
</html>